/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
.nav {
    position: relative;
    width: 100%;
    justify-content: space-between;
    border-color: #E8E8E8;
    border-bottom: 0.1rem solid #DCDEDD;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
} 

.left-header {
    display: flex;
}

.logo {
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width:180px;
    height:20px;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;            
}

.login-signup {
    color: white;
    cursor: pointer;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
    position: absolute;
    top: 22px;
    right: 0;
    font-size: 14px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #F7F7F6;
}

.session-submit {
    width: 100%;
    background-color: #009E74;
    color: #FFFFFF !important;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.8rem;
    font-size: .9rem;
    font-weight: 300;
    transition: all 0.25s ease-in-out !important;
    text-align: center;
    cursor: pointer;
}

.demo-submit {
    width: 100%;
    background-color: #39579A;
    color: #FFFFFF !important;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.8rem;
    font-size: .9rem;
    font-weight: 300;
    transition: all 0.25s ease-in-out !important;
    text-align: center;
    cursor: pointer;
}

.frame-header {
    // background-color: rgba(241,238,234,0.2);
    border-bottom: 1px solid #F1EEEA;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #3D3D66;
    font-weight: 400;
    
}

.frame-text {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    margin-top: 0.6rem;
    font-weight: 350;
    position: relative;
    right: 125px;
}

.sign-up-text {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    margin-top: 1.4rem;
    font-weight: 350;
    position: relative;
    right: 135px;
    bottom: 20px
}
 
.login-input:focus {
    // border-color: #009E74;;
    outline: none;
}

.login-input {
    margin-bottom: 1.8rem;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
}

.bottom-signup {
    background-color: #FFFFFF;
    border-top: 1px solid #F1EEEA;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #3D3D66;
}

.login-form-box {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 170px;
}

.ben-frank {
    width: 42px;
    height: 42px;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 11%;
  right: 1%;
  transform: translate(-50%, -50%);
}



// .form-line-active input:focus, .form-line-active textarea:focus {
// border: 1px solid green !important;
// box-shadow: 0 0 3px green !important;
// -moz-box-shadow: 0 0 3px green !important;
// -webkit-box-shadow: 0 0 3px green !important;
// }

// input:focus, textarea:focus, select:focus {
// outline-offset: 0px !important;
// outline: none !important;
// }