.category-nav {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3rem;
  border-bottom: 1px solid #E8E8E8;    
  font-size: 16px;
  max-width: 800px;
  min-width: 550px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; 
  padding-left: 340px;
  padding-right: 340px;
}

.category-button {
    color: #656969;
    position: relative;
    bottom: 22px;
    cursor: pointer;
    font-weight: 200;
}

.category-button:hover {
    color: #034752;
    text-decoration: underline;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-weight: 500;
    transition: height 0.5s, opacity 0.5s, transform 0.7s, color 0.3s;
    transform: translateY(0px);
}

.category-name {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
    color: #282828;
    font-size: 2rem;
    /* line-height: 3rem; */
    display: block;
    margin-block-start: 1em;
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-left: 150px;
    padding-right: 60px;
    padding-top: 30px;
    font-weight: 100;
}

.category-description {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;;
    padding-left: 150px;
    padding-right: 60px;
    padding-top: .5rem;
    font-size: 17px;
    font-weight: 200;
    color: #656969;
}

.featured-product-text {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #656969;
    font-size: 15px;
    line-height: 1.8rem;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 2px;

}

.featured-pic-container {
    width: 720px;
    height: 610px;
    border-right: #E8E8E8 1.25px solid;
    padding-left: 150px;
}
 
.featured-pic {
    height: 500px;
    width: 650px; 
    box-sizing: border-box;
}

.featured-name {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* padding-left: 150px; */
    font-size: 28px;
    color: #282828;
    padding-top: 12px;
}

.featured-name:hover {
    color: #009E74;
    text-decoration: underline;
}


.featured-description {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
    /* padding-left: 150px; */
    font-size: 18px;
    color: #656969;
}

.featured-creator {
    /* padding-left: 150px; */
    padding-top: 12px;
    font-size: 14px;
    font-weight: 100;
    color: #282828;
}

.project-body{
    padding-left: 150px;
    color: #282828;
    font-size: 16px;
    margin: 0px 0px 30px;
}

.recommended-text {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #656969;
    font-size: 15px;
    line-height: 1.8rem;
    padding-right: 400px;
    float: right;
    bottom: 20px;
    position: relative;
}

.recommended-container {
    position: absolute;
    height: 500px;
    width: 370px;
    right: 158px;
    /* border: 1px solid blue; */
    border-bottom: 1.25px solid #E8E8E8;
    
}

.rec-project-container {
    /* border: 1px dotted blue; */
    height: 150px;
    padding-bottom: 20px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    
}

.recommended-pic {
     height: 100px;
     width: 170px;
     padding-left: 10px;
}

.rec-project-name {
    position: absolute;
    left: 205px;
    top: 3px;
    font-size: 14px;
    color: #282828;
    
}

.rec-project-name2 {
    position: absolute;
    left: 205px;
    top: 3px;
    font-size: 14px;
    color: #282828;
}

.rec-project-name3 {
    position: absolute;
    left: 205px;
    top: 3px;
    font-size: 14px;
    color: #282828;
}

.rec-project-name:hover {
    color: #009E74;
    text-decoration: underline;
}

.rec-project-name2:hover {
    color: #009E74;
    text-decoration: underline;
}

.rec-project-name3:hover {
    color: #009E74;
    text-decoration: underline;
}

.line-1 {
    border-bottom: 1.25px solid #E8E8E8;
    position: absolute;
    width: 370px;
    top: 140px;
}

.line-2 {
    border-bottom: 1.25px solid #E8E8E8;
    position: absolute;
    width: 370px;
    top: 310px;
}

.rec-creator {
    position: absolute;
    left: 205px;
    top: 25px;
    font-size: 12px;
    font-weight: 100;
    color: #282828;
}

.rec-creator2 {
    position: absolute;
    left: 205px;
    top: 25px;
    font-size: 12px;
    font-weight: 100;
    color: #282828;
}

.rec-creator3 {
    position: absolute;
    left: 205px;
    top: 25px;
    font-size: 12px;
    font-weight: 100;
    color: #282828;
}

.percent-funded {
    color: #037362;
    position: absolute;
    left: 205px;
    top: 50px;
    font-size: 12px;
}

.percent-funded2 {
    color: #037362;
    position: absolute;
    left: 205px;
    top: 50px;
    font-size: 12px;
}

.percent-funded3 {
    color: #037362;
    position: absolute;
    left: 205px;
    top: 50px;
    font-size: 12px;
}

.footer-container {
    height: 50px; 
    width: 90px;
    /* display: flex; */
    /* border: 1px solid red; */
    justify-content: center;
    position: absolute;
    right: 155px;
    padding-bottom: 20px;
}

.footer-pic-linkedin {
    height: 35px; 
    width: 35px;
    padding-right: 10px;
    padding-top: 7px;
}

.footer-pic-git {
    height: 35px; 
    width: 35px;
    background-color: white;
    padding-top: 7px;
}

