.category-nav {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3rem;
  border-bottom: 1px solid #E8E8E8;    
  font-size: 16px;
  max-width: 1400px;
  min-width: 750px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; 
  padding-left: 380px;
  padding-right: 380px;
}

.category-button {
    color: #656969;
    position: relative;
    bottom: 22px;
    cursor: pointer;
    font-weight: 200;
}

.category-button:hover {
    color: #034752;
    text-decoration: underline;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-weight: 500;
    transition: height 0.5s, opacity 0.5s, transform 0.7s, color 0.3s;
    transform: translateY(0px);
}

.category-name {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
    color: #282828;
    font-size: 2rem;
    /* line-height: 3rem; */
    display: block;
    margin-block-start: 1em;
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
    padding-left: 150px;
    padding-right: 60px;
    padding-top: 30px;
    font-weight: 100;
}

.category-description {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;;
    padding-left: 150px;
    padding-right: 60px;
    padding-top: .5rem;
    font-size: 17px;
    font-weight: 200;
    color: #656969;
}

.featured-product-text {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #656969;
    font-size: 15px;
    line-height: 1.8rem;
    padding-left: 150px;
    padding-top: 50px;

}

.featured-pic-container {
    width: 720px;
    height: 680px;
    border-right: #E8E8E8 1.25px solid;
    padding-left: 150px;
}
 
.featured-pic {
    height: 550px;
    width: 650px; 
    box-sizing: border-box;

}

.featured-name {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* padding-left: 150px; */
    font-size: 28px;
    color: #282828;
    padding-top: 12px;
}


.featured-description {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
    /* padding-left: 150px; */
    font-size: 18px;
    color: #656969;
}

.featured-creator {
    /* padding-left: 150px; */
    padding-top: 12px;
    font-size: 14px;
    font-weight: 100;
    color: #282828;
}

