

.project-header-container {
    padding-top: 45px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-header-row {
    width: auto;
    /* border: 1px solid blue; */
}

.project-title {
    color: #282828;
    font-size: 40px;
    margin: 0px 0px 18px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    /* word-spacing: 5px; */
}

.project-description {
    color: #656969;
    font-size: 20px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 100;
}

.project-pic {
    padding-left: 150px;
    height: 550px;
    width: 800px; 
    box-sizing: border-box;
    padding-bottom: 20px;
    /* border-bottom: #E8E8E8 1.25px solid; */
}

.about {
    padding-left: 150px;
    font-size: 20px;
    color: #282828;
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: #E8E8E8 1.25px solid;
}

.project-body {
    width: 800px;
    line-height: 1.6;
}

.goal-container {
    position: absolute;
    height: 300px;
    width: 400px;
    right: 170px;
    /* border: 1px solid blue; */
    border-top: 3px solid #037362;
    border-bottom: 3px solid #037362;
}

.funding_goal {
    padding-top: 30px;
    color: #037362;
    font-size: 24px;
}

.goal-text { 
    padding-top: 6px;
    font-size: 14px;
    color: #656969;
}

.days-number {
    padding-top: 30px;
    font-size: 24px;
}

.back-this-button{
    width: 400px;
    background-color: #009E74;
    color: #FFFFFF !important;
    height: 45px;
    line-height: 2.5rem;
    padding: 0 1.8rem;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 260px;
}

.all-or-none {
    color: #282828;
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
}