

.project-header-container {
    padding-top: 45px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-header-row {
    width: auto;
    /* border: 1px solid blue; */
}

.project-title{
    color: #282828;
    font-size: 40px;
    margin: 0px 0px 18px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.project-description {
    color: #656969;
    font-size: 20px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 100;
}

.project-pic {
    padding-left: 150px;
    height: 550px;
    width: 800px; 
    box-sizing: border-box;
    /* padding-bottom: 20px; */
    /* border-bottom: #E8E8E8 1.25px solid; */
}

